.bgOrange{
    background-color: #d9603C;
}

.bgGreen{
    background-color: #1a6a5e;
}

.bgWhite{
    background-color: #fdf9ed;
}

.white{
    color: #fdf9ed;
}

.orange{
    color: #d9603C;
}
.green{
    color: #1a6a5e;
}

.bgGreenfade{
    background-color: #1a6a5e;
    
}

/* Header */
header{
    background-color: #fdf9ed;
}

header li a{
    color: #1A685E;
}

header li a:hover{
    color: #d9603C;
}

header #viewCart a{
    color: #fdf9ed;
    background-color: #1a6a5e;
}

header #viewCart a:hover{
    background-color: #d9603C;
}

#viewCart.active a{
    background-color: #d9603C;
}

.active {
    color: #d9603C;
}

#searchBar input, #mobileSearchBar input{
    color: #1a6a5e;
    background-color: #fdf9ed;
}

.mobileNav{
    background-color: rgba(253, 249, 237, 0.95);
}

#mobileSearchBar input{
    background-color: #fff;
}

.mobileNav a{
    color: #1a6a5e;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    background-color: #1a6a5e;
}
/*Footer*/
.cluster {
    background-color: #1a6a5e;
    color: #fdf9ed;
}

/*Homepage*/
.orderBtn{
    color: #fdf9ed;
    background-color: #d9603C;
}

/*Search*/

/*Menu*/
.title{
    color: #fdf9ed;
    text-align: center;
    padding-top: 6vw;
}

.catBtn p{
    color: #1a6a5e;
}

.catBtn .active, .slidertxt:hover {
    background-color: #d9603C;
    color: #fdf9ed;
}

.menuList{
    background-color: #fdf9ed;
}

.itemsBox{
    color: #fdf9ed;
    background: #1a6a5e;
}

.itemsBox .menuImg{
    background: #fdf9ed;
}

.itemsBox .icon img {
    background-color: transparent;
    filter: brightness(0) invert(1);
}

.counterBtn{
    background-color: #fdf9ed;
    color: #1a6a5e;
}

.counterBtn input{
    background-color: #fdf9ed;
}

/*Product*/
.sizeBtn{
    text-decoration: none;
    background: transparent;
}
.sizeBtn.selected{
    background-color: #fdf9ed;
    color: #1A685E;
}

#cartBtn{
    color: #fdf9ed
}

#cartBtn h2{
    color: #fdf9ed;
}

/*Cart*/
.leftCart h1{
    color: #1a6a5e;
}

.rightCart{
    color: #1a6a5e;
}

.leftCart .discCode .orderBtn.bgGreen{
    background-color: #1A685E;
}

/*Checkout*/

#dot1, #dot2, #dot3, #dot{
    background-color: #fdf9ed;
}

#dot1.clicked, #dot2.clicked, #dot3.clicked, #dot4.clicked{
    background-color: #1a6a5e;
}

.greenhover.toggled{
    background: #1A685E;
    color: #fdf9ed;
  }

.leftCheck span, #submitError{
    color: red;
}

/*Confirmation*/