.bgOrange{
    background-color: #d9603C;
}

.bgGreen{
    background-color: #1a6a5e;
}

.bgWhite{
    background-color: #fdf9ed;
}

.white{
    color: #fdf9ed;
}

.orange{
    color: #d9603C;
}
.green{
    color: #1a6a5e;
}

.bgGreenfade{
    background-color: #1a6a5e;
    
}