*{
    margin: 0 ;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.header{
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fdf9ed;
    text-align: center;;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

nav img{
    width: 150px;
    padding-right: 150px;
}

nav-links{
    flex:1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}
.nav-links ul li a{
    color: #1a6a5e;
    text-decoration: none;
    font-size: 13px;
}

.cart-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #1a6a5e;
    position: relative;
    border-radius: 30px;
}

.order-btn{
    color: #fff;
    top: 85%;
    left: 3%;
    width: 20%;
    position:absolute;
    text-align:center;
    background-color: #d9603C;
    padding: 20px 50px;
    border-radius: 50px;
}

.firstpage{
    min-height:85vh;
    width: 100%;
    background-image: url(imageSources/poster1.jpeg);
    background-position: center;
    background-size: cover;
}

.order-btn h1 a{
    font-size: 30px;
    text-decoration: none;
    color: #fdf9ed;
}

.promotext{
    color: #fdf9ed;
    text-align: center;
    padding-top: 10px;
}

.promo{
    height: 60px;
    width: 100%;
    background-color: #d9603C;
    background-size: contain;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
}

.bestsellers{
    background-color: #1a6a5e;
    flex-basis: 50%;

}

.bestsellers-col2{
    text-align: center;
    color: #fdf9ed;
    margin-top: 5%;
    margin-left: 9%;
}

.bestsellers-col1 img{
    image-orientation:flip;
    margin:auto;
    width: 125%;
    height: 100%;
}
.bestsellers-col2 img{
    width: 30%;
}

.bestsellers-col2 h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.bestsellers-col2 h3{
    font-size: 35px;
    margin-top: 10px;
}

.order-btn2{
    display: inline-block;
    text-decoration: none;
    color: #fdf9ed;
    border: 1px solid #fdf9ed;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 15px;
    border-radius: 30px;
    position: relative;
}