
/*------------header-----------*/

header{
    display: flex;
    background-color: #fdf9ed;
    padding: 3vw;
    padding-bottom: 1.5vw;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 10;
}

.navbar{
    display: flex;
    margin-left: auto;
    padding-right: 6vw;
    align-items: center;
}

#logo{
    position: absolute;
    width: 20%;
    top: 1.5vw;
    left: 2.7vw;
}

.navbar li{
    display: inline;
    padding-left: 1vw;
}

header li a{
    color: #1A685E;
    font-size: 1.4vw;
    text-decoration: none;
    padding: 0vw 1vw;
}

header li a:hover{
    color: #d9603C;
}

header #viewCart a{
    color: #fdf9ed;
    background-color: #1a6a5e;
    border-radius: 50px;
    padding: 0.6vw 2.5vw;
    padding-top: 1vw;
    margin-left: 0.5vw;
    float: right;
    position: relative;
}

header #viewCart a:hover{
    background-color: #d9603C;
}

#viewCart.active a{
    background-color: #d9603C;
}

.active {
    color: #d9603C;
}

#searchBar{
    width: 17vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0.15vw solid #1a6a5e;
    border-radius: 100px;
    margin: 1vw 1vw;
    margin-left: 2vw;
    padding: 0.8vw 0.5vw;
}

#searchBar input, #mobileSearchBar input{
    border: none;
    color: #1a6a5e;
    background-color: #fdf9ed;
    width: 12vw;
    font-size: 1.2vw;
    padding-top: 0.2vw;
}

#searchBar img, #mobileSearchBar img{
    width: 12%;
    margin-right: 1vw;
    margin-left: 0.5vw;
}

.hamburger{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    margin-right: 7.5vw;
    margin-left: -1vw;

    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.mobileNav{
    position: fixed;
    top: 9.5vw;
    right: -100%;
    width: 40%;
    min-height: 100vh;
    display: block;
    z-index: 2;
    background-color: rgba(253, 249, 237, 0.95);
    transition: 0.4s;
}

.mobileNav.active{
    right:0
}

#mobileSearchBar img{
    position: absolute;
    width: 4vw;
    margin: 4vw;
    left: 1.5vw;
    top: 1.3vw;
    z-index: 2;
}

#mobileSearchBar input{
    margin: 4vw;
    width: 58%;
    font-size: 3vw;
    border: 0.3vw solid #1A685E;
    border-radius: 100px;
    padding: 1vw;
    padding-top: 1.3vw;
    padding-left: 7vw;
    background-color: #fff;
}

.mobileNav a{
    font-size: 3vw;
    color: #1a6a5e;
    display: block;
    text-align: center;
    margin: 4vw;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 4vw;
    height: 0.6vw;
    background-color: #1a6a5e;
    border-radius: 30px;
    margin: 3px 0px;
    transition: 0.4s;
}

.hamburger.active:before{
    transform: rotate(-45deg) translate(-0.8vw, 1vw);
}

.hamburger.active:after{
    transform: rotate(45deg) translate(-3px, -4px);
}

.hamburger.active .bar{
    opacity: 0;
}

@media(max-width: 768px){
    .desktop, .navbar #searchBar{
        display: none;
    }
    header #viewCart a {
        font-size: 2vw;
    }
    #logo{
        width: 25%;
    }
}

@media (min-width: 769px) {
    .mobileNav {
        display: none;
    }
    .hamburger{
        display:none;
    }
}

/* Mobile header */
@media(max-width: 480px){
    header{
        height: 15vw;
    }
    #logo{
        width: 40%;
        top: 5vw;
    }
    header #viewCart a{
        font-size: 3.5vw;
        padding: 1.5vw 3.5vw;
        padding-top: 1.5vw;
    }
    .hamburger{
        margin-right: 10vw;
        margin-top: 4vw;
        margin-right: 10vw;
    }
    .mobileNav{
        top: 19vw;
    }

    .mobileNav a{
        font-size: 5vw;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        width: 6vw;
        height: 1.3vw;
    }
    .hamburger.active:before{
        transform: rotate(-45deg) translate(-2vw, 2vw);
    }
    #mobileSearchBar input{
        font-size: 4vw;
    }
    #mobileSearchBar img{
        top: 2vw;
        left: 2vw;
    }
}

/*------------Homepage Page 1-----------*/
.orderBtn{
    display: inline-block;
    color: #fdf9ed;
    font-size: 1.5vw;
    background-color: #d9603C;
    margin-top: 2%;
    padding: 1% 3%;
    border-radius: 50px;
    position: relative;
}

.btnPos{
    bottom: 7%;
    right: 4%;
    width: 20%;
    position:absolute;
    text-align:center;
}

.page1Container{
    display: none;
}

.firstPage{
    min-height:100vh;
    width: 100%;
    height: 100%;
    background-image: url(imageSources/poster1.jpeg);
    background-position: center;
    background-size: cover;
}

.orderBtn h1 a{
    font-size: 2.5vw;
    color: #fdf9ed;
}

.firstPage .mobileLink{
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100vw;
}

.firstPage .mobileLink .p1btn{
    position: static;
    height: 13vh;
    justify-content: center;
    text-align: center;
}

.mobileLink a{
    position: relative;
    top: 3vh;
    font-size: 15vw;
    letter-spacing: 1vw;
    font-family: 'ramo';
}

@media (min-width: 481px) {
    .firstPage .mobileLink{
        display: none;
    }
}

/* Mobile Homepage */
@media(max-width: 480px){
    .firstPage .orderBtn{
        display: none;
    }
}


/*------------Homepage Bestsellers-----------*/

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
}

.bestsellers{
    flex-basis: 50%;
}

.bestsellersCol2{
    text-align: center;
    color: #fdf9ed;
    margin-top: 5.5%;
    margin-left: 10%;
}

.bestsellersCol1 img{
    margin:auto;
    width: 125%;
    height: 100%;
}
.bestsellersCol2 img{
    width: 30%;
    margin-top: 3%;
}

.bestsellersCol2 h2{
    font-size: 3vw;
    margin-bottom: 20px;
}

.bestsellersCol2 h3{
    font-size: 2.3vw;
    margin-top: 10px;
}

#bestSellers .orderBtn{
    background-color: transparent;
    border: 1px solid #fdf9ed;
}

@media(max-width: 480px){
    .bestsellersCol1 img{
        display: none;
    }

    .bestsellersCol2{
        margin: 20vw 0vw;

    }

    .bestsellersCol2 h3{
        font-size: 8vw;
        margin: 0;
    }

    .bestsellersCol2 p{
        font-size: 4vw;
        margin: 2vw 0;
    }

    .bestsellersCol2 img{
        width: 55%;
        margin: 10vw 0;
    }

    .bestsellersCol2 .orderBtn{
        font-size: 4vw;
        padding: 3vw 10vw;
        margin-top: 4vw;
    }
}

/*------------Banner-----------*/

.promo{
    width: 100%;
    padding-bottom: 1vw;
    background-color: #d9603C;
    background-size: contain;
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
}

.promo div{
    display: flex;
    gap: 3em;
}

.promotext{
    color: #fdf9ed;
    text-align: center;
    padding-top: 1vw;
    font-size: 3vw;
}

.scroll{
    animation: scroll 10s infinite linear;
}

.scroll h3 {
    font-size: 2vw;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@media(max-width: 480px){
    .scroll h3{
        font-size: 6vw;
    }
}

/*------------Homepage About Us-----------*/

.about .row{
    display:flex;
    align-items: center;
    background-color: #fdf9ed;
    flex-basis: 30%;
}

.imageContainer{
    width: 85%;
}

.imageContainer img{
    display: block;
    width: 85%;
}

.about .row .aboutText{
    flex-basis: 40%;
    margin-right: 8.3%;
    color: #1a6a5e;
    /* text-align: justify; */
}

.aboutText{
    top: 30%
}

.aboutText > * + * {
    margin-top: 1rem;
}

.aboutText h1{
    font-size: 3.3vw;
    letter-spacing: 0.1rem;
}

@media(max-width: 480px){
    .about .row{
        flex-direction: column-reverse;
    }
    .imageContainer{
        width: 100%;
    }
    .imageContainer img{
        width: 100%;
    }
    .aboutText{
        margin: 10%;
        text-align: center;
    }
    .aboutText h1{
        display: flex;
        justify-content: center;
        font-size: 13vw;
        margin-bottom: 6vw;
    }
    .aboutText p{
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 3vw;
    }
    .aboutText h3{
        font-size: 4vw;
    }
}


/*------------Footer-----------*/

.cluster {
    display: flex;
    position: absolute;
    background-color: #1a6a5e;
    color: #fdf9ed;
    padding: 2vw 0;
    width: 100vw;
}

.cluster > * {
    margin: 1rem;
}

.cluster h3{
    font-size: 2vw;
}

.cluster p{
    font-size: 1.3vw;
}

.box{
    flex-basis: 33%;
}

.socialsIcons{
    width:15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: right;
}

.contactInfo{
    margin-top: 1vw;
}

.hours, .socials, .contact{
    margin: 1vw 6vw;
}

@media(max-width: 480px){
    .cluster{
        flex-direction: column;
        align-items: center;
        padding: 10vw 0;

    }
    .cluster h3{
        font-size: 5vw;
    }

    .cluster p{
        font-size: 3vw;
        padding-bottom: 1vw;
    }

    .box{
        text-align: center;
    }

    .cluster > *{
        margin: 7vw;
    }

    .socialsIcons{
        width: 38%;
    }

}

/*----------search------------*/

.categories{
    margin-top: 10vw;
    padding-top: 0.5%;
    height: fit-content;
    width: 100%;
    background-color: #fdf9ed;
    text-align: center;
    overflow: hidden;
}

.categories a{
    font-size: 4vw;
}

.break{
    height: 6vw;
}
.catPopular, .catDrinks, .catPizza, .catBurgers, .catVegan, .catDesserts{
    padding: 3vw 0vw;
    width: 100%;
    position: relative;
}

.catPopular a{
    color: #fdf9ed;
}

.catPopular img {
    position: absolute;
    bottom: -50%;    
    left: -6%;
    width: 23%;
}

.catBurgers img{
    position: absolute;
    bottom: -53%;    
    left: -9%;
    width: 28%;

}
.catDrinks img{
    position: absolute;
    bottom: -25%;    
    left: -12%;
    width: 30%;

}

.catPizza img, .catVegan img, .catDesserts img{
    position: absolute;
    bottom: -63%; 
    right: -9%;
    width: 28%;
}


@media(max-width: 480px){
    .catPopular, .catDrinks, .catPizza, .catBurgers, .catVegan, .catDesserts{
        padding-top: 8%;
    }
    .categories img{
        width: 40%;
        left: 30.5%;
        bottom: -77%;
    }

    .catBurgers img{
        bottom: -54%;
    }

    .catDrinks img{
        bottom: -28%;
    }

    .categories a{
        position: relative;
        z-index: 1;
        font-size: 9vw;
        bottom: 5vw;
    }

    .catPizza a, .catVegan a, .catDesserts a{
        -webkit-text-stroke: 0.2px #fdf9ed;
    }

    .catPopular a, .catDrinks a{
        -webkit-text-stroke: 0.2px #d9603C;
    }

    .catBurgers a{
        -webkit-text-stroke: 0.2px #1a6a5e ;
    }

    .break{
        height: 13vw;
    }

}

/*----------menu------------*/

.menuBanner{
    margin-top:10vw;
    min-height:18vw;
    width: 100%;
    background-image: url(imageSources/background.jpeg);
    background-position: center;
    background-size: cover;
    letter-spacing: 0.3vw;
}

.title{
    color: #fdf9ed;
    text-align: center;
    padding-top: 6vw;
    font-size: 3.5vw;
}

.catBtn{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    overflow-x: auto;
}

.catBtn p{
    min-width: 10%;
    color: #1a6a5e;
    text-align: center;
    border: 0.17vw solid #1a6a5e;
    border-radius: 40px;
    padding: 0.8% 2.7%;
    font-size: 1.2vw;
    background: transparent;
    margin: 3%;
    margin-left: 0;
    font-family: 'newcastle'
}

.catBtn .active, .slidertxt:hover {
    background-color: #d9603C;
    border: 0.2vw solid #d9603C;
    color: #fdf9ed;
}

.catSlider, .cat-carousel{
    white-space: nowrap;
}

.menuList{
    background-color: #fdf9ed;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    margin-left: 7%;
    margin-right: 7%;
    row-gap: 3.5%;
    margin-bottom: 25vw;
}

.itemsBox{
    display: flex;
    position: relative;
    color: #fdf9ed;
    background: #1a6a5e;
    border-radius: 20px;
    margin: auto;
}

.itemsContent{
    display: grid;
    padding: 1vmax;
    padding-top: 2.5vmax;
    align-items: flex-start;
}

.itemsBox {
    opacity: 0;
    transform: translateX(-20%);
    transition: opacity 2s ease, transform 1s ease;
  }
  
  .itemsBox.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

.itemsBox h3{
    font-size: 2vw;
    line-height: 60%;
}

.itemsBox p{
    margin-top: 2em;
}

.itemsBox .menuImg{
    width:37%;
    background: #fdf9ed;
    border-radius: 20px 0px 0px 20px;
    border: 0.17vw solid #1a6a5e;
    display: flex;
}

.itemsBox .icon {
    position: absolute;
    right: 1vw;
    display: flex;
    top: 1vw;
    align-items: flex-end;
}
  
.itemsBox .icon img {
    background-color: transparent;
    border: none;
    width: 3vw;
    filter: brightness(0) invert(1);
}

.bottomData{
    display: flex;
    margin-top: 9%;
    margin-right: 2%;
    align-items: flex-end;
    justify-content: flex-end;
}

.counterBtn{
    display: flex;
    justify-items: center;
    background-color: #fdf9ed;
    width: 25%;
    border-radius: 20px;
    color: #1a6a5e;
    align-items: center;
    cursor: pointer;
}

.counterBtn span{
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    margin-bottom: 0.1vw;
}

.counterBtn input{
    width: 1vw;
    height: 2vw;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    background-color: #fdf9ed;
}

.counterBtn button{
    border: none;
    background: none;
    margin: 0;
    font-size: 1.5vw;
}

.float{
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 10vh;
    margin-left: 17.5vw;
}

.itemPrice {
    position: absolute;
    right: 6em;
    font-size: 1.4vw;
}

@media(max-width: 480px){
    .menuBanner{
        margin-top:20vw;
        min-height:50vw;
    }
    
    .title{
        padding-top: 15vw;
        font-size: 12vw;
        letter-spacing: 1vw;
    }
    
    .catBtn{
       margin-top: 4vw;
    }
    
    .catBtn p{
        min-width: 28%;
        padding: 1% 2.4%;
        font-size: 3.5vw;
    }
    
    .items{
        row-gap: 2%;
        margin-top: 7vw;
        margin-bottom: 50vw;
    }

    .itemsBox{
        height: 67vw;
        display: block;
    }

    .itemsBox .menuImg{
        width: 99%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
    }

    .itemsContent{
        padding-top: 3vw;
    }

    .itemsBox p{
        display: none;
    }

    .itemsBox h3{
        display: grid;
        justify-content: center;
        font-size: 4vw;
        margin: 1.4vw;
    }

    .menuList .itemsBox .icon img {
        width: 6vw;
        filter: brightness(100%);
    }

    .bottomData{
        justify-content: center;
        display: grid;
        align-items: center;
        margin: 0;
    }

    .itemPrice{
        display: flex;
        position: relative;
        font-size: 3.5vw;
        justify-content: center;
        right: 0;
        margin: 2vw;
    }

    .counterBtn{
        width: 15vw;
        margin-left: 2vw;
    }
    
    .counterBtn button{ 
        font-size: 4vw;
    }

    .counterBtn input{
        width: inherit;
        height: inherit;
        font-size: 4vw;
        text-align: center;
        border: none;
        background:none
    }

    .float{
        display: block;
        padding: 2vw 18vw;
    }

    .orderBtn h2{
        font-size: 5vw;
    }
}

/*----------product info------------*/

.productBanner{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin-top: 10vw;
    overflow: hidden;
}

#bannerTxt{
    margin: 4vw 10vw;
}

.pizzaImg{
    width: 60vw;
    margin-bottom: -50vw;
    margin-left: -11vw;
}

.halftone{
    position: absolute;
    width: 100%;
    opacity: 80%;
    overflow: hidden;
}

.heading{
    font-size: 6vw;
    line-height: 6vw;
    margin-bottom: 2vw;
}

#productSize{
    margin: 2.4vw 0vw;

}
#productSize ul li{
    list-style: none;
    display: inline-block;
    padding: 0.3vw 2vw;
    position: relative;
    font-size: 1vw;
}

.sizeBtn{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 13px;
    background: transparent;
    margin-top: 10px;
}

.sizeBtn:hover{
    border: 1px solid #fdf9ed;
    background-color: #fdf9ed;
    color: #1A685E;
}

#cartBtn2{
    display: inline-block;
    text-decoration: none;
    color: #fdf9ed;
    padding: 1vw 5vw;
    position: relative;
    border-radius: 100px;
}

#cartBtn2 h2{
    font-size: 2vw;
    color: #fdf9ed;
}

.additionTitle{
    margin-left: 5%;
    padding-top: 5%;
    font-size: 2vw;
}
.sliderAdditions{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.sliderContainer img{
    width: 50%;
}

.sliderContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
}

.sliderContainer p{
    font-size: 1.5vw;
}

.sliderContainer h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6vw;
}

.margins{
    margin-left: 2%;
    margin-right: 2%;
}

.return{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: underline;
}

@media(max-width: 480px){
    .productBanner{
        display: block;
        padding-bottom: 4vw;
    }
    .halftone{
        margin-top: 4vw;
        position: relative;
        width: 300%;
    }

    .pizzaImg{
        position: absolute;
        width: 80%;
        margin-bottom: 0vw;
        margin-top: -80vw;
        margin-left: 10vw;
    }

    #bannerTxt{
        text-align: center;
        margin-left: 13vw;
        margin-top: 0vw;
    }

    #bannerTxt p{
        font-size: 2.9vw;
        margin-top: 6vw;
    }

    #bannerTxt h2{
        font-size: 10vw;
        line-height: 10vw;
    }

    #bannerTxt ul li{
        font-size: 3vw;
        margin-bottom: 4vw;
    }

    #cartBtn2 h2{
        font-size: 4vw;
    }

    .additionTitle{
        font-size: 4vw;
    }

    .sliderContainer{
        width: 18vw;
        margin-right: 4vw;
    }

    .sliderContainer img{
        width: 100%;
    }

    .sliderContainer p{
        font-size: 2.5vw;
    }

    .sliderContainer h3{
        font-size: 3vw;
    }

    .return{
        font-size: 2.5vw;
    }
        
}

/*---------------Cart----------------*/
.cartContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5%;
}

.leftCart .itemsBox {
    margin: 0;
    margin-top: 1.5vw;
    width: 45vw;
}

.leftCart .itemsBox .menuImg{
    width: 20%;
    height: 20%;
    border: 0.1vw solid #1a6a5e;
}

.leftCart .counterBtn{
    position: absolute;
    right: 4vw;
    bottom: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5vw;
    height: 2.5vw;
}

.leftCart .itemPrice{
    left: 10.5vw;
    bottom: 1.4vw;
    font-size: 1.5vw;
}

.leftCart .icon{
    right: 1.5vw;
    bottom: 1.9vw;
}

.leftCart .icon img{
    width: 1.3vw;
    opacity: 60%;
}

.leftCart h2, .rightCart h2{
    font-size: 2.5vw;
}

.leftCart h1{
    font-size: 3vw;
    color: #1a6a5e;
    margin-bottom: 1.5vw;
}

.discCode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

.discCode .orderBtn{
    margin: 0;
    height: 2vw;
    font-family: 'newcastle';
    font-size: 1.2vw;
    padding-top: 0.7vw;
}

.discCode .bgGreen{
    border-radius: 3vw 0 0 3vw;
}

.discCode .apply{
    right: 0;
}

#searchBar.codeInput{
    flex-grow: 1;
    margin: 0;
    border-radius: 0 3vw 3vw 0;
    height: 1.25vw;
    margin-right: 3vw;
    padding-left: 1vw;
}

.rightCart{
    width: 100%;
    border: 3px solid #cfdcd0;
    border-radius: 40px;
    color: #1a6a5e;
    padding: 4vw;
    margin-left: 4vw;
    text-align: center;
}

.border{
    border: 1px solid;
    border-radius: 50px;
    margin-bottom: 1%;
}

.cartSummary p{
    display: flex;
    justify-content: right;
    padding-right: 3vw;
    margin-bottom: 4%;
}

.cartSummary th, td{
    margin: 20px;
    text-align: justify;
    width: 85%;
    height: 2.5vw;
    font-size: 1.3vw;
}

.cartSummary h1{
    margin-bottom: 4%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vw;
}

.cartSummary .rightCol{
    text-align: right;
}

.cartSummary .orderBtn{
    width: 50%;
    padding: 4% 10%;
}

.cartSummary .centre.border th{
    font-size: 2vw;
    font-family: 'newcastle';
}

@media(max-width: 480px){
    .cart.cartContainer{
        margin: 10vw;
        flex-direction: column;
    }
    .leftCart .itemsBox {
        display: flex;
        margin-bottom: 4vw;
        width: 100%;
        height: 25.3vw;
    }

    .cart .itemsBox .menuImg{
        width: 25vw;
        height: 25vw;
        border: 0.2vw solid #1a6a5e;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
    }

    .cart .itemsContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 10%;
        margin: 0 1vw;
    }
   
    .cart .itemsContent .itemPrice{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 3.5vw;
        margin-top: 1vw;
        left: 0;
    }

    .cart .itemsContent h3{
        margin-top: 1.5vw;
        font-size: 5vw;
        line-height: 6vw;
    }
    .discCode .orderBtn{
        height: 4vw;
        font-size: 3vw;
    }
    #searchBar.codeInput{
        height: 3.6vw;
        margin-right: 3vw;
    }
    .discCode #searchBar input{
        font-size:2vw;
    }
    .rightCart{
        width: 98%;
        padding: 10vw 0;
        margin: 0;
        margin-top: 10vw;
    }
    .rightCart h2{
        font-size: 5.5vw;
    }
    .cartSummary th, td{
        width: 80%;
        font-size: 3vw;
    }
    .cartSummary p{
        font-size: 2.6vw;
    }
    .cartSummary .orderBtn h3{
        font-size: 3.5vw;
    }
    .leftCart .counterBtn{
        width: 15vw;
        height: 6vw;
        bottom: 10vw;
    }
    .itemsContent .icon img{
        width: 3.5vw;
        margin-right: 2vw;
        margin-bottom: 0.5vw;
    }

}

/*----------Checkout------------*/

#payDetails h2{
    margin-top: 3vw;
    font-size: 2vw;
}

#payDetails h3{
    margin-bottom: 1%;
}

#confirmContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5vw;
}
#infoForm{
    margin-right: 3vw;
}

#infoForm input, #infoForm textarea{
    border: 1px solid #1a6a5e;
    width: 100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    background: none;
    border-radius: 50px;
    outline: none;
    margin-bottom: 1vw;
    text-align: left;
}


.leftCheck{
    width: 40vw;
}

.leftCheck p{
    font-size: 1.5vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.minicontainer1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
    align-items: center;
}

#suburb{
    margin-right: 2vw;
}

#postcode{
    margin-left: 2vw;

}

.paysection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 41vw;
}
.regImg{
    width: 25%;
}
#paypal{
    width: 11%;
    margin: 3% 0.5vw;
}
.paybutton{
    display: flex;
    border: 1px solid #1A685E;
    border-radius: 100px;
    padding: 0vw 1vw;
    align-items: center;
}

.paybutton p{
    font-size: 1.3vw;
}

.dot {
    height: 2vw;
    width: 2vw;
    border: 1px solid #1A685E;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5vw;
    background-color: #fdf9ed;
}

#dot1, #dot2, #dot3, #dot{
    background-color: #fdf9ed;
}

#dot1.clicked, #dot2.clicked, #dot3.clicked, #dot4.clicked{
    background-color: #1a6a5e;
}

.greenhover{
    border: 1px solid #1A685E;
    border-radius: 100px;
    padding: 0.25vw 4vw;
  }

.greenhover:hover{
    background: #1A685E;
    color: #fdf9ed;
  }

#cardDetails{
    border: 1px solid #1A685E;
    border-radius: 3vw;
    padding: 1vw 0vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    display: none;
  }

.cardInfo{
    width: 34vw;
    margin: 0vw 2vw;
  }

.cardInfo input{
    height: 2vw;
    font-size: 1.5vw;
  }

#cardMini input{
    width: 11vw;
  }

#cardMini p{
    border: none;
    padding: initial;
  }

#CVV{
    margin-right: 6vw;
  }


@media(max-width: 480px){
    #confirmContainer{
        flex-direction: column;
        align-items: center;
        margin-right: 2.5vw;
    }

    .leftCheck{
        width: 80vw;
    }

    #payDetails h2{
        font-size: 5vw;
        text-align: center;
        margin-top: 7vw;
    }

    .leftCheck label, .leftCheck p, .leftCheck h3{
        font-size: 3vw;
    }

    .minicontainer1 p{
        padding: 0.5vw 8vw;
    }

    .paysection{
        gap: 2vw;
        width: 81vw;
        margin-bottom: 5vw;
    }

    #confirmContainer .rightCart{
        width: 79.5vw;
        padding: 4vw 0vw;
        margin-left: -3vw;
        margin-bottom: 3vw;
        margin-top: 7vw;
    }

    .cartSummary p{
        padding-right: 14vw;
        font-size: 2vw;
    }

    .cartSummary th{
        font-size: 3vw;
        width: 80%;
    }

    .cartSummary a{
        font-size: 4vw;
    }

    #cardDetails{
        margin-top: -3vw;
    }

    .cardInfo{
        width: 80%;
        margin: 0vw 7vw;
    }

    .cardInfo input{
        height: 4vw;
        font-size: 3vw;
    }
    
    #cardMini{
        align-items: center;
    }

    #CVV{
        margin-right: 35vw;
    }

    .dot{
        height: 3vw;
        width: 3vw;
        margin-left: 1vw;
    }
}

/*----------Confirmation------------*/

.confirmation{
    border: 3px solid #cfdcd0;
    padding-top: 4vw;
    border-radius: 40px;
    font-size: 1.4vw;
    background: transparent;
    margin: 3vw 20vw;
}

.centre{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.confirmation h2{
    margin-top: 5%;
    font-size: 2.5vw;
}

.confirmation p{
    font-size: 1.5vw;
    margin: 20px;
}

.confirmation h3{
    margin: 1vw -2vw;
    font-size: 2vw;
}

.confirmation .orderBtn{
    padding: 0% 20%;
    margin-bottom: 5%;
}

.confirmation th, td{
    text-align: justify;
    width: 85%;
    height: 3vw;
}

.confirmation .centre.border th{
    font-size: 2vw;
    font-family: 'newcastle';
}

@media(max-width: 480px){
    .confirmation{
        margin: 3vw 10vw;
        padding: 4vh;
    }

    .confirmation h3{
        font-size: 4vw;
    }

    .orderBtn h3{
        font-size: 3vw ;
    }

    .confirmation p{
        font-size: 2.5vw;
        margin: 3vw 7vw
    }

    .confirmation th, td{
        font-size: 2vw;
    }

}