*{
    margin: 0 ;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

/*------------header-----------*/

.header{
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fdf9ed;
    text-align: center;;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

nav img{
    width: 150px;
    padding-right: 150px;
}

nav-links{
    flex:1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}
.nav-links ul li a{
    color: #1a6a5e;
    text-decoration: none;
    font-size: 13px;
}

.cart-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #1a6a5e;
    position: relative;
    border-radius: 30px;
}

/*------------Homepage Page 1-----------*/
.order-btn{
    color: #fff;
    top: 85%;
    left: 3%;
    width: 20%;
    position:absolute;
    text-align:center;
    background-color: #d9603C;
    padding: 20px 50px;
    border-radius: 50px;
}

.firstpage{
    min-height:85vh;
    width: 100%;
    background-image: url(imageSources/poster1.jpeg);
    background-position: center;
    background-size: cover;
}

.order-btn h1 a{
    font-size: 30px;
    text-decoration: none;
    color: #fdf9ed;
}

/*------------Banner-----------*/

.promotext{
    color: #fdf9ed;
    text-align: center;
    padding-top: 10px;
}

.promo{
    height: 60px;
    width: 100%;
    background-color: #d9603C;
    background-size: contain;
    position: relative;
}

/*------------Homepage Bestsellers-----------*/

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
}

.bestsellers{
    background-color: #1a6a5e;
    flex-basis: 50%;

}

.bestsellers-col2{
    text-align: center;
    color: #fdf9ed;
    margin-top: 5%;
    margin-left: 9%;
}

.bestsellers-col1 img{
    margin:auto;
    width: 125%;
    height: 100%;
}
.bestsellers-col2 img{
    width: 30%;
}

.bestsellers-col2 h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.bestsellers-col2 h3{
    font-size: 35px;
    margin-top: 10px;
}

.order-btn2{
    display: inline-block;
    text-decoration: none;
    color: #fdf9ed;
    border: 1px solid #fdf9ed;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 15px;
    border-radius: 30px;
    position: relative;
}

/*------------Homepage About Us-----------*/

.about .row{
    display:flex;
    align-items: center;
    background-color: #fdf9ed;
}

.image-container img{
    display: block;
    width: 120%;
    height: 800px;
}

.about .row .abouttext{
    flex-basis: 20%;
    margin-right: 10%;
    margin-left: 15%;
    color: #1a6a5e;
}

.abouttext > * + * {
    margin-top: 1rem;
}

/*------------Footer-----------*/

.cluster {
    display: flex;
    position: absolute;
    background-color: #1a6a5e;
    color: #fdf9ed;
    margin-top: 0;
}

.cluster > * {
    margin: 1.5rem;
}

.box{
    flex-basis: 33%;
}

.socials-icons{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: right;
}

/*----------search------------*/

.categories{
    display: inline-block;
    padding-top: 5%;
    min-height:100vh;
    width: 100%;
    background-color: #fdf9ed;
    text-align: center;
    
}

.cat-popular, .cat-drinks, .cat-pizza, .cat-burgers, .cat-vegan, .cat-desserts{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    font-size: 20px;
    position: relative;
}

.cat-popular img, .cat-burgers img{
    position: absolute;
    bottom: -10px;    
    left: -5%;
    width: 25%;

}
.cat-drinks img{
    position: absolute;
    bottom: -10px;    
    left: -5%;
    width: 35%;

}

.cat-pizza img, .cat-vegan img, .cat-desserts img{
    position: absolute;
    bottom: -20px; 
    right: -5%;
    width: 25%;

}
