/*------------header-----------*/
header li a{
    font-size: 1.4vw;
    text-decoration: none;
}

#mobileSearchBar input{
    font-size: 3vw;
}

.mobileNav a{
    font-size: 3vw;
}
/*----------search------------*/
.categories a{
    font-size: 4vw;
}

/*----------product info------------*/
.heading{
    font-size: 6vw;
}

#productSize ul li{
    font-size: 1vw;
}

.sizeBtn{
    font-size: 13px;
}
