/*----------search------------*/
.categories a{
    font-size: 4vw;
}

/*----------product info------------*/
.heading{
    font-size: 6vw;
}

#productSize ul li{
    font-size: 1vw;
}

.sizeBtn{
    font-size: 13px;
}